<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}"  xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Comment Tree Viewer</title>
</head>
<body>
<section class="hero">
  <div class="container">
    <h1>Comment Tree Visualizer</h1>
  </div>
  <div class="container">
    <ul>
      <li th:each="comment: ${lazyComments.getComments()}">
        <div th:replace="~{fragments/comment :: showComment(${comment})}"></div>
      </li>
    </ul>

    <br>
    <hr>

    <table class="table table-bordered">
      <tr>
        <th>Lazy Loading</th><th>Eager Loading</th>
      </tr>
      <tr>
        <td>Time Taken: <span th:text="${lazyComments.getExecutionTime()}">Time</span> ms.</td>
        <td>Time Taken: <span th:text="${eagerComments.getExecutionTime()}">Time</span> ms.</td>
      </tr>
      <tr>
        <td>Memory Used: <span th:text="${lazyComments.getMemoryUsed()}">Memory</span> bytes.</td>
        <td>Memory Used: <span th:text="${eagerComments.getMemoryUsed()}">Memory</span> bytes.</td>
      </tr>
    </table>
  </div>
</section>
</body>
</html>
